body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.foo {
    opacity: 0.7
}
nav {
    opacity: 0.8
}
input.form-control {
    opacity: 0.6
}
