<div class="post mt-2">
	<div class="info box">
		<a class="date" href="{{ page.url }}">
		<span class="day">17</span><span class="month">Jan</span>
		<span class="circle"></span>
		</a>
	</div>
	<div class="article">
		<h3><a class="title font-orange mb-2" href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h>
		<div class="content lh-200p font-16 pd-1 mg-2 radius-7">
			<div id='node_cloud'>
			{% for node in site.categories %}
			<a href="#{{ node[0] }}" class="button button-orange mt-1" title="{{ node[0] }}" rel="{{ node[1].size }}">{{ node[0] }}</a>
			{% endfor %}
			</div>
			<ul class="archives no-list">
			{% for node in site.categories %}
			<div id="{{ node[0] }}" class="msg msg-orange mt-1 mb-1"><a href="#{{ node[0] }}">{{ node[0] }}</a></div>
				{% for post in node[1] %}
				<li class="listing-item">
				<span>{{ post.date | date:"%Y-%m-%d" }}</span>
				<a class="font-orange atitle" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				</li>
				{% endfor %}
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
	<div class="clear"></div>
</div>
