<div class="post mt-2">
	<div class="info box">
		<a class="date" href="{{ page.url }}">
		<span class="day">{{ page.date | date:"%d" }}</span><span class="month">{{ page.date | date:"%b" }}</span>
		<span class="circle"></span>
		</a>
	</div>
	<div class="article">
		<h3><a class="title font-orange mb-2" href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
		<div class="content lh-150p font-16 pd-1 mg-2 radius-8">
		{{ content }}
		<div class="post-end mt-1"><span><i></i>{{ page.date | date_to_long_string }}</span></div>
		</div>
	</div>
	{% if page.tags %}
	<div class="tags pl-2 pr-2 mb-2 left">
		<span class="tag">标签：
		{% for tag in page.tags %}
		<a class="button button-small button-orange" href="{{site.JB.tags_path}}#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
		{% endfor %}
		</span>
	</div>
	{% endif %}
	{% if page.categories %}
	<div class="categories pl-2 pr-2 mb-2 right">
		<span class="categorie">分类：
		{% for categorie in page.categories %}
		<a class="button button-small button-orange" href="/archives.html#{{ categorie }}" title="{{ categorie }}">{{ categorie }}</a>
		{% endfor %}
		</span>
	</div>
	{% endif %}
	{% if page.previous or page.next %}
	<div class="cleared mt-2 pl-2 pr-2">
		{% if page.previous %}
		<a class="button button-orange left" href="{{page.previous.url}}" rel="prev" title="{{page.next.title}}">←{{page.previous.title}}</a>
		{% endif %}
		{% if page.next %}
		<a class="button button-orange right" href="{{page.next.url}}" rel="next" title="{{page.next.title}}">{{page.next.title}}→</a>
		{% endif %}
	</div>
	{% if page.previous %}
	<span id="btn_page_prev"><a href="{{page.previous.url}}" rel="prev"><span id="fanye" style="display: none;">‹</span></a></span>
	{% endif %}
	{% if page.next %}
	<span id="btn_page_next"><a href="{{page.next.url}}" rel="next"><span id="fanye" style="display: none;">›</span></a></span>
	{% endif %}
	{% endif %}
	<div id="hm_t_18226" class="radius-8 baidu"></div>
	{% if page.comments %}
	<div id="comments cleared" class="mt-2 pl-2 pr-2">
		<div class="comment left w-60 h-60">
		<a class="yuan" href="{{ post.url }}#comments">
		<span class="ds-thread-count num" data-thread-key="{{page.wordpress_id}}" data-count-type="comments"></span>
		<span class="circle"></span>
		</a>
	</div>
	<div class="ds-thread" data-thread-key="{{page.wordpress_id}}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
	</div>
    {% endif %}
</div>
	<div class="clear"></div>
</div>
