<div class="article">
    <div class="title">
        <h2>{{ page.title }} </h2>
    </div>
    <div class="meta">
        <span class="time">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
        </span>
        {% if page.tags %}
        <span class="tags">
            {% for tag in page.tags %}
            <a class="pjax" href="{{site.JB.tags_path}}#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>
    <div class="post">
        {{ content }}
    </div>
    <div class="copyright">
        <p>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;本文链接地址：<a title="{{page.title}}" href="{{site.production_url}}{{page.url}}">{{site.production_url}}{{page.url}}</a><br />
        &nbsp;&nbsp;&raquo;&nbsp;&nbsp;&nbsp;欢迎订阅本站：您可以选择通过<a href="{{site.JB.rss_path}}" target="_blank">RSS阅读器</a>订阅<br />
        <span class="icon-info"></span>声明:如無特別申明,文章均為博主原創并遵循 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh" title="署名-非商业性使用-相同方式共享3.0共享协议" target="_blank" rel="nofollow">BY-NC-SA-3.0</a>. 转载请注明转自<a title="{{site.tagline}}" href="{{site.production_url}}" rel="inlinks">{{site.title}} &trade;</a></p>
    </div>
    {% if page.comments %}
        <div class="comment comments" data-thread="{{page.wordpress_id}}"></div>
    {% else %}
        <div class="comment"><hr /><p>评论已关闭</p></div>
    {% endif %}
</div>

{% if page.previous or page.next %}
<div id="page_nav">
    {% if page.previous %}
    <a class="pjax" href='{{page.previous.url}}'>← Prev</a>
    {% endif %}
    {% if page.next %}
    <a class="pjax" href='{{page.next.url}}'>Next →</a>
    {% endif %}
</div>
{% endif %}
